html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 13px;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.nav-bar {
  height: 48px;
  padding: 6px;
  color: #222222;
}

#sign-in{
  display: inline-block;
  color: white;
  background-color: #4285f4;
  border: 0px;
  padding: 9px 23px;
  border-radius: 4px;
}

.container.footer {
  height: 47px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.button {
  text-decoration: none;
  font-size: 13px;
}

.material-icons.md-18 { 
  font-size: 18px;
  vertical-align: middle;
}

.button:hover {
  text-decoration: underline;
}

.button.top {
  padding: 5px;
  color: rgba(0, 0, 0, 0.87);
}

.button.foot {
  padding: 15px;
  color: #70757a;
}

/**LR centerting for GOOGLE

.container-centering {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
**/

.logo-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  max-height: 290px;
  flex-shrink: 0;
  box-sizing: border-box;
  height: calc(100%-560px);
}

.logo-pic .blank-space {
  max-height: 92px;
  position: relative;
  height: 100%;
  margin-top: auto;
}

.logo-pic img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}


.search-box-container {
  display: flex;
  max-width: 584px;
  margin: 0 auto;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.search-box-container:hover {
  box-shadow: 0px 0px 8px #dadce0;
}

input:focus {
  outline:none;
}

.search-text-box {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.search-box-items {
  display: flex;
  flex: 1;
  padding-left: 15px;
}


.material-icons.md-grey {
  display: block; 
  color: #9aa0a6;
  padding: 0;
  font-size: 20px;
}

.search-box-items input{
  display: flex;
  flex: 1;
  margin: 0;
  width: 50%;
  height: 3em;
  flex-wrap: wrap;
  align-self: stretch;
  border: none;
  background-color: transparent;
}

.search-icon-container {
  display: flex;
  align-items: center;
  padding-right: 13px;
}


.button-item {
  margin: 11px 4px;
  padding: 0 16px;
  color: rgb(61, 61, 61);
  height: 36px;
  line-height: 27px;
  border: 0;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button-item:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border: solid 1px #dadce0;
} 

h1 {
  text-align: center;
  font-size: 13px;
  color: #3C4043;
}





